:root {
    /* Colores de fondo */
    --bg-dark: #0f172a;
    --card-bg: rgba(30, 41, 59, 0.6);

    /* Gradiente de Hero */
    --gradient-start: #343080;
    --gradient-end: #050514;

    /* Colores de estado (Badge) */
    --color-done: #10b981;
    --color-wip: #f59e0b;
    --color-planned: #3b82f6;

    /* Colores de texto */
    --text-primary: #ffffff;
    --text-secondary: #cbd5e1;

    /* Bordes y efectos */
    --border-glass: rgba(255, 255, 255, 0.1);
    --glow-strength: 0.2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Esot hace  que el padding no aumente de tamaño*/
}

body {
    font-family: 'Inter',-apple-system, system-ui, sans-serif;
    background: var(--bg-dark);
    color: var(--text-primary);
    line-height: 1.6;
    padding: 2rem;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

/* HERO */

.hero {
    background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
    border-radius: 20px;
    padding: 4rem 2rem;
    text-align: center;
    margin-bottom: 3rem;

    box-shadow: 
        inset 2px 2px 8px rgba(255, 255, 255, 0.1),
        0 8px 32px  rgba(139, 92, 246, 0.3);
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;margin-bottom: 1rem;
}

.hero p {
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.9);
}

/*  GRID DE PROYECTOS  */

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/* CARD */

.project-card {
    background: var(--card-bg);
    backdrop-filter: blur(10px);
    border: 1px solid var(--border-glass);
    border-radius: 16px;
    padding: 2rem;

    box-shadow: 
        inset 2px 2px 6px rgba(255, 255, 255, 0.05),
        inset -2px -2px 6px rgba(0, 0, 0, 0.1),
    0 8px 32px rgba(0, 0, 0, 0.3);
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 
        inset 2px 2px 6px rgba(255, 255, 255, 0.1),
        inset -2px -2px 6px rgba(0, 0, 0, 0.15),
        0 12px 48px rgba(0, 0, 0, 0.1);
}

.logo {
    margin: 0;
    padding: 1px;
    width: 30px;
}

/* ICON */

.icon {
    /* Tamaño del circulo */
    width: 64px;
    height: 64px;

    /* Hacer el circulo perfecto */
    border-radius: 50%;

    /* Gradiente de fondo */
    background: linear-gradient(113deg, #667eea 0%, #764ba2  100%);

    /* Centrar el emoji */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Tamaño del emoji */
    font-size: 1.5rem;

    /* Espaciado */
    margin: 0 auto 1.5rem auto;

    /* Efecto elevacion */
    box-shadow: 
        0 4px 12px rgba(0, 0, 0, 0.2),
        inset 0 2px 4px rgba(255, 255, 255, 0.2);
}

.icon svg {
    color: red;
    width: 32px;
    height: 32px;
    stroke-width: 2;

}



